<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
  </head>
  <body class="is-preload">
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <nav class="links">
          <ul>
            <li><a href="{{ site.baseurl }}/">Accueil</a> </li>
          </ul>
        </nav>
        <nav class="main">
          <ul>
            <li class="search">
              <a class="fa-search" href="#search">Search</a>
              <form id="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
              </form>
            </li>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Menu -->
      <section id="menu">
        <section>
          <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search" />
          </form>
        </section>
        <section>
          <ul class="links">
            <li><a href="#"><h3>Lorem ipsum</h3><p>Feugiat tempus veroeros dolor</p></a></li>
            <li><a href="#"><h3>Dolor sit amet</h3><p>Sed vitae justo condimentum</p></a></li>
          </ul>
        </section>
        <section>
          <ul class="actions stacked">
            <li><a href="#" class="button large fit">Log In</a></li>
          </ul>
        </section>
      </section>

      <!-- Main : BOUCLE POUR LES ARTICLES -->
      <div id="main">
        {% for post in site.posts %}
          <article class="post">
            <header>
              <div class="title">
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <p>{{ post.excerpt }}</p>
              </div>
              <div class="meta">
                <time class="published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                <a href="#" class="author"><span class="name">Jennifer Charvolin</span><img src="{{ site.baseurl }}/images/Profile.png" alt="" /></a>
              </div>
            </header>
            <a href="{{ post.url | prepend: site.baseurl }}" class="image featured">
              <img src="{{ post.image | default: '/blog/images/pic01.jpg' }}" alt="{{ post.title }}" />
            </a>
            <p>{{ post.content | truncatewords: 30 }}</p>
            <footer>
              <ul class="actions">
                <li><a href="{{ post.url | prepend: site.baseurl }}" class="button large">Lire plus</a></li>
              </ul>
              <ul class="stats">
                <li><a href="#">General</a></li>
                <li><a href="#" class="icon solid fa-heart">28</a></li>
                <li><a href="#" class="icon solid fa-comment">128</a></li>
              </ul>
            </footer>
          </article>
        {% endfor %}
      </div>

      <!-- Sidebar -->
      <section id="sidebar">
        <section id="intro">
          <a href="#" class="logo"><img src="{{ site.baseurl }}/images/Profile.png" alt="" /></a>
          <header>
            <h2>{{ site.title }}</h2>
            <p>Zoom sur prépa mentale, intelligence émotionnelle, neurosciences, biais cognitifs, psychologie sociale by Jennifer Charvolin</p>
          </header>
        </section>

        <!-- Mini Posts (optionnel) -->
        <section>
          <div class="mini-posts">
            <!-- Exemple de mini-post (à adapter) -->
            <article class="mini-post">
              <header>
                <h3><a href="#">Vitae sed condimentum</a></h3>
                <time class="published" datetime="2015-10-20">October 20, 2015</time>
                <a href="#" class="author"><img src="{{ site.baseurl }}/images/Profile.png" alt="" /></a>
              </header>
              <a href="#" class="image"><img src="{{ site.baseurl }}/images/pic04.jpg" alt="" /></a>
            </article>
          </div>
        </section>

        <!-- Footer -->
        <section id="footer">
          <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
          </ul>
          <p class="copyright">&copy; {{ site.title }}. Design: <a href="http://html5up.net">HTML5 UP</a>.</p>
        </section>
      </section>
    </div>

    <!-- Scripts -->
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/util.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
  </body>
</html>